.crt-feed {
    div {
        /*box-sizing: border-box;*/
    }



    &.crt-feed-branded {
        padding-bottom: 25px;
        .crt-logo {
            display: block;
            position: absolute;
            bottom: 0px;
            right: 10px;
            font-size: 0.9em;

            z-index: 999;
            color: #090909;
            text-decoration: none;
        }
    }
}

.crt-list-post-image {
    display: none !important;
}

.crt-list-post a {
    color: #1e1e23;
}

.crt-list-post a:hover {
    color: #8B8E9F;
}

.crt-list-post-text-wrap {
    color: #707070;
}
